[submodule "WAD_1A"]
	path = WAD_1A
	url = https://github.com/arjunghuge644/WAD_1A.git
[submodule "WAD_1B"]
	path = WAD_1B
	url = https://github.com/arjunghuge644/WAD_1B.git
[submodule "WAD_3A"]
	path = WAD_3A
	url = https://github.com/arjunghuge644/WAD_3A.git
